<launch>
  <arg name="model" default="$(find cse468_final_bot)/urdf/robot.xacro"/>
  <arg name="rvizconfig" default="$(find cse468_final_bot)/rviz/urdf.rviz" />

  <include file="$(find cse468_final_bot)/launch/sim.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!--<include file="$(find cse468_final_bot)/launch/slam.launch"></include>-->
  <include file="$(find cse468_final_bot)/launch/localization.launch"></include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <rosparam command="load" file="$(find cse468_final_bot)/config/diff_drive.yaml"/>

  <node name="robot_drivetrain_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    args="bot_joint_state_controller
          bot_diff_drive_controller"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/bot_diff_drive_controller/cmd_vel"/>
  </node>

   <node name="joint_state_publisher" pkg="joint_state_publisher"
        type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node>

</launch>
