<?xml version="1.0"?>
<robot name="arm_macros"
    xmlns:xacro="http://ros.org/wiki/xacro">
    <joint name="gripper_extension" type="fixed">
        <parent link="base_link"/>
        <child link="vert"/>
        <origin rpy="0 0 0" xyz="0.19 0 0.2"/>
    </joint>
    <link name="vert">
        <visual>
            <geometry>
                <cylinder length="0.4" radius="0.02"/>
            </geometry>
            <origin rpy="0 0 0 " xyz="-0.2 0 0"/>
        </visual>
    </link>
    <joint name="init_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0.2 0.01 0"/>
        <parent link="vert"/>
        <child link="gripper_pole"/>
    </joint>
    <link name="gripper_pole">
        <visual>
            <geometry>
                <cylinder length="0.4" radius="0.02"/>
            </geometry>
            <origin rpy="0 1.57075 0 " xyz="0 0 0"/>
        </visual>
    </link>
    <joint name="left_gripper_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0.2 0.01 0"/>
        <parent link="gripper_pole"/>
        <child link="left_gripper"/>
    </joint>
    <link name="left_gripper">
        <visual>
            <origin rpy="0.0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://urdf_tutorial/meshes/l_finger.dae"/>
            </geometry>
        </visual>
    </link>
    <joint name="left_tip_joint" type="fixed">
        <parent link="left_gripper"/>
        <child link="left_tip"/>
    </joint>
    <link name="left_tip">
        <visual>
            <origin rpy="0.0 0 0" xyz="0.09137 0.00495 0"/>
            <geometry>
                <mesh filename="package://urdf_tutorial/meshes/l_finger_tip.dae"/>
            </geometry>
        </visual>
    </link>
    <joint name="right_gripper_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0.2 -0.01 0"/>
        <parent link="gripper_pole"/>
        <child link="right_gripper"/>
    </joint>
    <link name="right_gripper">
        <visual>
            <origin rpy="-3.1415 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://urdf_tutorial/meshes/l_finger.dae"/>
            </geometry>
        </visual>
    </link>
    <joint name="right_tip_joint" type="fixed">
        <parent link="right_gripper"/>
        <child link="right_tip"/>
    </joint>
    <link name="right_tip">
        <visual>
            <origin rpy="-3.1415 0 0" xyz="0.09137 0.00495 0"/>
            <geometry>
                <mesh filename="package://urdf_tutorial/meshes/l_finger_tip.dae"/>
            </geometry>
        </visual>
    </link>
</robot>