<?xml version="1.0"?>
<robot name="robot_with_arm" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find cse468_final_bot)/urdf/drivebase_macro.xacro"/>
    
    <link name="base_link">
        <visual>
            <geometry>
                <box size="${drivebase_length} ${drivebase_width} ${drivebase_height}"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <geometry>
                <box size="${drivebase_length} ${drivebase_width} ${drivebase_height}"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="55"/>
            <inertia ixx="1.35416" ixy="0.0" ixz="0.0" iyy="2.35416" iyz="0.0" izz="1.04166"/>
        </inertial>
    </link>

    <xacro:robot_side side="left" reflect="1"/>
    <xacro:robot_side side="right" reflect="-1"/>



    <xacro:include filename="$(find cse468_final_bot)/urdf/arm_macro.xacro"/>
    <xacro:include filename="$(find cse468_final_bot)/urdf/laser.xacro"/>
   <xacro:include filename="$(find cse468_final_bot)/urdf/kinect.xacro"/>

    <gazebo>
        <static>false</static>

        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>
</robot>