<?xml version="1.0"?>
<robot name="robot_with_arm" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find cse468_final_bot)/urdf/drivebase_macro.xacro"/>
    <xacro:include filename="$(find cse468_final_bot)/urdf/chassis.xacro" />
    
    <link name="base_link"/>

    <xacro:robot_chassis name="chassis" parent="base_link" z_offset="0.0" chassis_length="0.8128" chassis_width="0.7112" chassis_height="0.1524" chassis_mass="50"/>

    <xacro:six_wheel_diff_drive name="tank_drive" parent="base_link" z_offset="0.0" drop_wheel_height="0.003175" wheel_separation="0.6096" wheelbase_length="0.6096" wheel_radius="0.1016" wheel_width="0.0381" wheel_mass="1"/>

    <xacro:include filename="$(find cse468_final_bot)/urdf/arm_macro.xacro"/>
    <xacro:include filename="$(find cse468_final_bot)/urdf/laser.xacro"/>
   <xacro:include filename="$(find cse468_final_bot)/urdf/kinect.xacro"/>

    <gazebo>
        <static>false</static>

        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>
</robot>