<?xml version="1.0"?>
<robot name="robot_with_arm" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find cse468_final_bot)/urdf/drivebase_macro.xacro"/>

    <link name="base_link">
        <visual>
            <geometry>
                <box size="${drivebase_length} ${drivebase_width} ${drivebase_height}"/>
            </geometry>
            <material name="blue"/>
        </visual>
    </link>

    <xacro:robot_side side="left" reflect="1"/>
    <xacro:robot_side side="right" reflect="-1"/>
</robot>